@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;



.video-list {
    max-width: 19rem;

    &__title {
        color: $primary-500;
        padding-left: 0.25rem;
        margin-bottom: 0.75rem;

        @include tablet {
            margin-bottom: 1.25rem;
        }
    }

    &__listing {
        list-style-type: none;
    }
}