// color

// primary colors
$primary-900: #323232;   //BrainFlix-Black
$primary-700: #0095ff;   //BrainFlix-Blue
$primary-500: #afafaf;   //Silver
$primary-100: #fff;   //White

// secondary colors
$secondary-900: #000;   //BrainFlix-DarkBlack
$secondary-700: #0065ad;   //BrainFlix-DarkBlue
$secondary-500: #e1e1e1;   //Mercury
$secondary-100: #fafafa;   //Alabaster