@use './colors' as *;



//font sources
@font-face {
    font-family: 'AvenirNext';
    src: url('../../assets/fonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
        url('../../assets/fonts/AvenirNextLTPro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirNext';
    src: url('../../assets/fonts/AvenirNextLTPro-Demi.woff2') format('woff2'),
        url('../../assets/fonts/AvenirNextLTPro-Demi.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirNext';
    src: url('../../assets/fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
        url('../../assets/fonts/AvenirNextLTPro-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


//type base
$family: 'AvenirNext', sans-serif;
$regular: 400;
$demi: 600;
$bold: 700;


//global font base
body {
    font-family: $family;
    font-weight: $regular;
    color: $primary-900;
}


// responsive text styles
.heading-page {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: $bold;

    @include tablet {
        font-size: 2.0625rem;
        line-height: 2.75rem;
    }
}

.heading-section {
    font-size: .75rem;
    line-height: 1.25rem;
    font-weight: $bold;
}





.shared-mo {  // subheader = body (mobile)
    font-size: .8125rem;
    line-height: 1.125rem;
}

.shared-dt {  // subheader = body (desktop & tablet)
    font-size: .875rem;
    line-height: 1.375rem;
}

.heading-subheader {
    @extend .shared-mo;
    font-weight:$bold;

    @include tablet {
        @extend .shared-dt;
    }
}


.paragraph-body {
    @extend .shared-mo;

    @include tablet {
        @extend .shared-dt;
    }
}




.paragraph-labels,
.paragraph-buttons {
    font-size: 0.625rem;
    line-height: 1.25rem;
    font-weight:$bold;

    @include tablet {
        font-size: 0.75rem;
    }
}