@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;


.comment-form {
    display: flex;
    align-items: flex-start;
    padding: 0 0 1rem;

    @include tablet {
        padding: 0 0 2rem;
    }

    @include desktop {
        padding: 0 1.5rem 1.5rem 0.75rem;
    }

    &__avatar-container {
        padding: 1.5rem 1rem 0 0;

        @include desktop {
            padding: 1.5rem 2.25rem 0 0;
        }
    }

    &__commentbox-container {
        padding: 0 0 1rem;

        @include tablet {
            padding: 0 1.5rem 0 0;
            flex: 1;
        }
    }

    &__submit-container {
        @include tablet {
            flex: 0 0 9.75rem;
        }

        @include desktop {
            flex: 0 0 9.25rem;
        }
    }

    // Comment Form
    &__form {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        @include tablet {
            flex-direction: row;
            align-items: flex-end;
        }
    }

    &__label {
        color: $primary-500;
    }

    &__commentbox {
        background-color: $primary-100;
        border: 1px solid $secondary-500;
        border-radius: 4px;
        padding: 0.75rem 0 0 0.75rem;
        width: 100%;
        height: 6rem;
        resize: none;
        display: block;

        @include tablet {
            padding-left: 1rem;
            height: 2.75rem;
        }

        &:focus {
            border: 2px solid $primary-700;
            outline: none;
        }

        &::placeholder {
            color: $primary-900;
        }

        &--invalid {
            border-color: $error-state;
        }
    }
}