@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;


.header {
    padding: 0.25rem 0.5rem 0.25rem;

    @include tablet {
        padding: 0.5rem 1.75rem;
    }

    &__container {
        margin: auto;
        max-width: 1136px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

        &__logo {
            margin: 0.5rem;
            flex: 100%;
            text-align: center;


            @include tablet {
                margin-right: auto;
                flex: 0;
                text-align: left;
            }

            @include desktop {
                margin-left: 0;
            }
        }

        &__search {
            margin: 0.5rem;
            flex: 1;

            @include tablet {
                margin-right: 1rem;
                flex: 0 15rem;
            }
        }

        &__avatar {
            margin: 0.5rem;
            align-self: center;

            @include tablet {
                flex: 0;
                order: 2;
                // margin-left:auto;
            }

            @include desktop {
                margin-right: 0.75rem;
            }
        }

        &__upload-button {
            margin: 0.5rem;
            flex: 100%;

            @include tablet {
                margin-right: 0.75rem;
                flex: 0 9.75rem;
                // @include flex-center;

            }

            @include desktop {
                margin-right: 1.75rem;
                flex: 0 9.25rem;
            }
    }
}