@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.comment-list {
    padding: 1rem;

    @include desktop {
        padding: 2rem 0 2rem 1rem;
        flex-grow: 2;
      }

    &__list {
        list-style-type: none;
    }
}