@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;


.avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    background-color: $secondary-500;
    @include flex-center;

    @include tablet {
        width: 40px;
        height: 40px;
    }

    &::after {
        content: " ";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $secondary-500;
    }
}

