@use "./styles/partials/colors" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/resets" as *;
@use "./styles/partials/typography" as *;
@use "./styles/partials/variables" as *;



.app {

    .content {
        display: flex;
        flex-direction: column;
    
        @include desktop {
            flex-direction: row; 
        }

        .main-content {
            display: flex;
            flex-direction: column;
        }
        
        .side-content {
            // margin-left: auto;
            max-width: 350px;
        }
    }
}